* {
	box-sizing: border-box;
}

body {
	background: #1D1D1F;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- */

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}

/* --- --- CAROUSEL --- --- */



/* --- --- MEDIA QUERIES --- --- */
@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}